* {
	box-sizing: border-box;
}
body {
	width:100vw;
	height:100vh;
	background: url(waterfall.jpg) 0 0 no-repeat;
	background-size: cover;
	padding:0;
	margin:0;
}

.columns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: end;
    -moz-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
	position:relative;
}

.flex-item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 66%;
    -ms-flex: 0 1 66%;
    flex: 0 1 66%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.absolute {
	position:absolute;
	bottom:75px;
	left:30px;
}

.time {
	font-size:120px;
	margin:0;
	font-family:"Segoe UI", sans-serif;
	font-weight:600;
	color:white;
}

.date {
	font-size:40px;
	margin:0;
	font-family:"Segoe UI", sans-serif;
	color:white;
}

.weather,
.time-of-day,
.moon-phase {
	width:200px;
	height:200px;
	background:rgba(54, 99, 100, 0.8);
	padding-left:10px;
	margin-bottom:1px;
}
.time-of-day,
.moon-phase {
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
}
.small {
	font-size:16px;
}
/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
.flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    }

}